// ## Colors

// ### Primary
$color-cyan: hsl(180, 66%, 49%);
$color-dark-violet: hsl(257, 27%, 26%);
$color-white: #fff;

// ### Secondary
$color-red:hsl(0, 87%, 67%);

// ### Neutral
$color-gray: hsl(0, 0%, 75%);
$color-grayish-violet: hsl(257, 7%, 63%);
$color-very-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);

// ## Fonts
$default-font-size: 1.6rem;

// ## Grids
// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;